<div class="hk-element hk-element-top-heading-main hk-element-{{ section.id }}">
<h2 class="hk-element-top-heading hk-font-{{ section.settings.font_type_heading }}">{{ section.settings.heading }}</h2>
</div>