<div class="hk-element hk-element-text-main hk-element-top-text-{{ section.id }}">
<div class="hk-element-top-text hk-font-{{ section.settings.font_type_text }}">{{ section.settings.text }}</div>
</div>