<div class="hk-element hk-element-liquid-main {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="hk-element-liquid">{{ block.settings.liquid }}</div>
</div>