<div class="hk-element hk-element-variants {{ block.settings.custom_class }} hk-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
{%  assign index = 0 %}
{%- for block in section.blocks -%} 
{%- case block.type -%} 
{%- when 'variant' -%}  
{%  assign index = index | plus:1 %}
{%  render 'hk-element-variant', block:block, index:index %} 
{%  endcase %}
{%  endfor %}  
</div>
