<div class="hk-element hk-element-top-subheading-main hk-element-top-subheading-{{ section.id }}">
<div class="hk-element-top-subheading hk-font-{{ section.settings.font_type_subheading }}">{{ section.settings.subheading }}</div>
</div>