/* start common css */
body {
    display: block;
}
@media (max-width:915px) {
  .hk-hide-mobile {
    display:none !important;
  }
}
@media (min-width:915px) {
  .hk-hide-desktop {
    display:none !important;
  }
}
.hk-slider-main:not(.slick-initialized) {
  display:flex;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
.hk-text-left-desktop {
    text-align: left;
    justify-content: left;
}
.hk-text-center-desktop {
    text-align: center;
    justify-content: center;
}
.hk-text-right-desktop {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
    height: auto;
}

.hk-no_buttons .slick-arrow {
    display: none !important;
}

.hk-same-height-slider .slick-slide {
    height: inherit !important;
}
.hk-same-height-slider .slick-track {
    display: flex;
}
.hk-loading:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.hk-loading {
    color: transparent !important;
    position: relative !important;
}



.hk-loading-cart:after {
    content: "";
    width: 100% !important;
    height: 100% !important;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 ) !important;
    background-size: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
    background-color: #0000003b !important;
}
.hk-loading-cart {
    position: relative;
}
svg, img, video {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
.hk-video-wrapper.active img, 
.hk-video-wrapper.active .hk-play-button {
    display: none;
}
.hk-relative {
    position: relative;
}
.hk-container {
    max-width:100%;
    width:var(--hk-container-width);
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}

body, .hk-font-body  {
  font-family:var(--hk-body-font);
}
.hk-font-heading{
  font-family: var(--hk-heading-font);
}

.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
img {
    height; unset;
}

.hk-checkout-button:has(.hk-sold-out.hk-active) {
    pointer-events: none;
    opacity: .7;
}

@media (max-width:915px) {
.hk-text-left-mobile {
    text-align: left;
    justify-content: left;
}
.hk-text-center-mobile {
    text-align: center;
    justify-content: center;
}
.hk-text-right-mobilep {
    text-align: right;
    justify-content: right;
}
.hk-container {
    padding-left:16px;
    padding-right:16px;
}
}
/* end common css */



/* font family start */
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-LightItalic.woff);
  font-style: italic;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-RegularItalic.woff);
  font-style: italic;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-MediumItalic.woff);
  font-style: italic;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-BoldItalic.woff);
  font-style: italic;
  font-weight: 700;
  font-display:swap;
}
/* font family end */



body, p {
  font-family: var(--hk-body-font);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--hk-heading-font) !important;
}



/* same css start */
.hk-image-with-text-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: self-start;
}
.hk-image-with-text-column {
    width: 50%;
}
.hk-media, 
.hk-svg {
    display: flex;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.1px;
    width: 100%;
}
.hk-button {
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1298.7px;
    background: #72D3FF;
    text-decoration: none;
    width: 550px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: #162036;
    font-size: 20.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.208px;
    text-transform: capitalize;
    border: 2px solid #72D3FF;
    gap: 10.4px;
}
.hk-button:hover {
    background: transparent;
    color: #72D3FF;
}
.hk-button:after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-btn-svg.webp");
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 550px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 13px;
    gap: 7.8px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 20.353px;
    height: unset;
}
.hk-global-rating .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.80);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 6.5px;
    padding-bottom: 16px;
}
.hk-global-rating .hk-icon-with-text-flex strong {
    color: #000;
    font-weight: 500;
}
.hk-global-rating .hk-icon-with-text-flex em {
    color: #000;
    font-style: normal;
    text-decoration-line: underline;
}
.hk-global-heading h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.8px;
}
.hk-center {
    width: fit-content;
    margin: 0px auto;
}
.hk-btn-black .hk-button:hover {
    color: #000;
    border-color: #000;
}
.hk-MBG-white .hk-icon-with-text-flex {
    color: #162036;
}
.relative {
    position: relative;
}
.hk-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    position: absolute;
    top: 46%;
}
.hk-slider-next {
    right: -34px;
}
.hk-slider-prev {
    left: -34px;
}
.slick-disabled {
    opacity: 0.25;
}
.hk-scroll-bar-img img {
    width: 195px;
    height: unset;
    margin: 0px 5px;
}
ul.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
    padding-top: 30px;
}
ul.slick-dots li {
    width: 100%;
    font-size: 0px;
}
ul.slick-dots li button {
    width: 100%;
    font-size: 0px;
    padding: 0px !important;
    background: #000;
    height: 2.6px;
    border: none;
    cursor: pointer;
}
ul.slick-dots li.slick-active~li button {
    background: #00000040;
}
.hk-slider-dot-white ul.slick-dots li.slick-active~li button {
    background: #FFFFFF40;
}
.hk-slider-dot-white ul.slick-dots li button {
    background: #fff;
}



@media (max-width: 915px) {
.hk-image-with-text-column {
    width: 100%;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 46px;
    font-style: normal;
    letter-spacing: -1.38px;
    width: 270px;
    text-align: center;
    margin: 0px auto;
}
.hk-center {
    width: 100%;
    margin: 0px auto;
}
.hk-button {
    cursor: pointer;
    width: calc(100% - 30px);
    min-height: 55px;
    font-size: 16px;
    letter-spacing: -0.16px;
    gap: 9px;
    margin: 0px auto;
}
.hk-button:after {
    width: 18px;
    height: 18px;
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    gap: 5.5px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 15.656px;
}
.hk-global-heading h2 {
    font-size: 40px;
    letter-spacing: -1.2px;
    width: 328px;
    max-width: 100%;
}
.hk-global-rating .hk-icon-with-text-flex {
    justify-content: unset;
    font-size: 12px;
    gap: 5px;
    padding-bottom: 12px;
}
.hk-global-rating .hk-icon-with-text-flex svg {
    width: 79px;
    height: unset;
}
ul.slick-dots {
    width: 199px;
    padding-top: 25px;
}
ul.slick-dots li button {
    height: 2px;
}
.hk-heading-center h2 {
    margin: 0px auto;
}
}
/* same css end */



/* header css start */
.hk-header-top-text1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.hk-header-top-text1 strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-header-top {
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
}



@media (max-width: 915px) {
.hk-header-top-text1 {
    font-size: 13px;
}
}
/* header css end */



/* footer css start */
.hk-footer .hk-richtext-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    padding: 92px 50px 85px;
    position: relative;
    overflow: hidden;
}
.hk-footer-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 100%;
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
    padding: 9px 0px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.hk-footer-top strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-footer-img img {
    width: 630px;
    height: unset;
    position: absolute;
    bottom: 0px;
    right: 50px;
}
.hk-footer .hk-richtext-content {
    display: flex;
    flex-wrap: wrap;
}
.hk-footer-text1, 
.hk-footer-submit {
    width: 50%;
    margin-bottom: 50px;
}
.hk-footer-text1 p {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.hk-footer-text1 p strong {
    font-family: "Bebas Neue";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.56px;
}
.hk-footer-submit {
    min-height: 91px;
}
button#Subscribe {
    background: transparent;
    border: unset;
    width: unset;
    min-height: unset;
    position: absolute;
    top: 20px;
    right: 0px;
}
button#Subscribe:after {
    display: none;
}
.field_lp {
    width: 91%;
    margin-left: auto;
    position: relative;
}
.hk-footer-submit {
    min-height: 83px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}
.hk-footer-submit .hk-element-liquid {
    width: 100%;
}
.field_lp input {
    color: #fff;
    font-family: Aeonik;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.7px;
    letter-spacing: -0.39px;
    width: 100%;
    background: transparent;
    border: unset;
    outline: none;
    height: 70px;
    border-bottom: 1px solid #FFFFFF;
}
.field_lp input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.hk-footer-logo, .hk-footer-text2 {
    width: 50%;
}
.hk-footer-logo img {
    width: 109px;
}
.hk-footer-text2 {
    min-height: 67px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hk-footer-text2 p {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.156px;
    padding: 5px 12px;
    border-radius: 2.6px;
    background: rgba(255, 255, 255, 0.05);
}
.hk-footer-text2 p strong {
    color: #72D3FF;
    font-weight: 700;
}
.hk-footer-text3 {
    margin: 30px 0px 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF26;
    width: 100%;
}
.hk-footer-brand {
    width: 100%;
    margin: 50px 0px 19px;
}
.hk-footer-brand img {
    width: 352px;
}
.hk-footer-copyright {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
}
.hk-footer-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 160px;
}
.hk-footer-menu ul li a {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
}
.hk-footer-text3 {
    font-size: 17.55px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}



@media (min-width: 915px) {
.hk-footer .hk-richtext-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-footer-bg.webp");
}
}



@media (max-width: 915px) {
.hk-footer .hk-richtext-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-footer-bgmob.webp");
}
.hk-footer-top {
    padding: 7px 0;
    font-size: 13px;
}
.hk-footer .hk-richtext-content {
    border-radius: 13px;
    padding: 55px 15px 0px;
}
.hk-footer-text1, 
.hk-footer-submit {
    width: 100%;
    margin-bottom: 10px;
}
.hk-footer-text1 p strong {
    font-size: 40px;
    letter-spacing: -1.2px;
}
.hk-footer-text1 p {
    font-size: 14px;
    gap: 10px;
    width: 290px;
    max-width: 100%;
}
.hk-footer-submit {
    min-height: unset;
    margin-bottom: 40px;
}
.field_lp input {
    font-size: 15px;
    letter-spacing: -0.3px;
    width: 100%;
    height: 61px;
}
.field_lp {
    width: 100%;
}
button#Subscribe svg {
    width: 23px;
    height: unset;
}
button#Subscribe {
    top: 18px;
}
.hk-footer-logo img {
    width: 82px;
}
.hk-footer-logo {
    width: 82px;
}
.hk-footer-text2 {
    min-height: 50px;
    align-items: center;
    width: calc(100% - 82px);
}
.hk-footer-text2 p {
    font-size: 12px;
    letter-spacing: -0.12px;
    padding: 4.5px 10px;
}
.hk-footer-text3 {
    margin: 25px 0 25px;
    padding-bottom: 25px;
    font-size: 13.5px;
}
.hk-footer-menu ul {
    gap: 16px;
    padding-right: 0px;
}
.hk-footer-menu {
    width: 100%;
}
.hk-footer-menu1 {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #FFFFFF26;
}
.hk-footer-menu ul li a {
    font-size: 14px;
}
.hk-footer-img img {
    position: unset;
    right: 50px;
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    margin-left: -16px;
}
.hk-footer-brand {
    margin: 40px 0 15px;
}
.hk-footer-brand img {
    width: 271px;
}
.hk-footer-copyright {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 39px;
}
}
/* footer css end */



/* zoom */
@media (max-width: 1600px) and (min-width: 1400px) {
body {
    zoom: 90%;
}
}
 
 
@media (max-width: 1400px) and (min-width: 1100px) {
body {
    zoom: 80%;
}
}
 
 
@media (max-width: 1100px) and (min-width: 915px) {
body {
    zoom: 65%;
}
}






/* header css*/


/* header section css start */
.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.hk-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hk-header-logo {
    width: 71.5px;
    max-width: 100%;
}
.hk-header-logo img {
    width: 100%;
    height: auto;
}
.hk-mobile-menu-button, 
.hk-cart-button {
    background: transparent;
    padding: 0;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.hk-element-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    max-width: 100%;
    height: 100%;
    z-index: 11;
    transition: all .5s ease;
}
.hk-drawer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    cursor: pointer;
    z-index: 10;
}
.hk-drawer-menu {
    padding-right: 20px;
}
.hk-drawer-menu-inner {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 100%;
    color: #1c1c1c;
    height: 100%;
    padding: 30px 30px;
}
button.hk-mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.hk-drawer-menu-content {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.hk-drawer-menu-content .hk-element-menu-main {
    flex: 1;
}
.hk-drawer-menu-content a {
    width: 100%;
    display: block;
    text-decoration: unset;
    font-size: 18px;
    padding: 12px 0;
}
.hk-drawer-menu {
    left: -100%;
}
.hk-drawer-menu.active {
    left: 0;
}
.hk-header, 
.hk-annoucement-bar {
    position: relative;
    z-index: 1;
}
.hk-header {
    transition: all .3s ease;
}   


/* desktop css */
@media (min-width:915px) {
}



/* mobile css */
@media (max-width:915px) {
.hk-drawer-menu-content a {
    font-size: 15px;
    padding: 8px 0;
}
.hk-drawer-menu-inner {
    padding: 30px 20px;
}
.hk-element-annoucement-main {
    gap: 12px;
    font-size: 14px;
    letter-spacing: -0.28px;
    justify-content: center;
}
span.hk-countdown-js {
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
span.hk-countdown-js>span {
    padding: 5px 5px 3px;
}
.hk-header-logo {
    width: 55px;
    max-width: 100%;
}
.hk-header-content svg {
    height: 15px;
    width: auto;
}
}
/* header section css end */



