/* start common css */
body {
    display: block;
}
@media (max-width:915px) {
  .hk-hide-mobile {
    display:none !important;
  }
}
@media (min-width:915px) {
  .hk-hide-desktop {
    display:none !important;
  }
}
.hk-slider-main:not(.slick-initialized) {
  display:flex;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
.hk-text-left-desktop {
    text-align: left;
    justify-content: left;
}
.hk-text-center-desktop {
    text-align: center;
    justify-content: center;
}
.hk-text-right-desktop {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
    height: auto;
}

.hk-no_buttons .slick-arrow {
    display: none !important;
}

.hk-same-height-slider .slick-slide {
    height: inherit !important;
}
.hk-same-height-slider .slick-track {
    display: flex;
}
.hk-loading:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.hk-loading {
    color: transparent !important;
    position: relative;
}



.hk-loading-cart:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #0000003b;
}
.hk-loading-cart {
    position: relative;
}
svg, img, video {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
.hk-video-wrapper.active img, 
.hk-video-wrapper.active .hk-play-button {
    display: none;
}
.hk-relative {
    position: relative;
}
.hk-container {
    max-width:100%;
    width:var(--hk-container-width);
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}

body, .hk-font-body  {
  font-family:var(--hk-body-font);
}
.hk-font-heading{
  font-family: var(--hk-heading-font);
}

.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
img {
    height; unset;
}



@media (max-width:915px) {
.hk-text-left-mobile {
    text-align: left;
    justify-content: left;
}
.hk-text-center-mobile {
    text-align: center;
    justify-content: center;
}
.hk-text-right-mobilep {
    text-align: right;
    justify-content: right;
}
.hk-container {
    padding-left:15px;
    padding-right:15px;
}
}
/* end common css */



/* font family start */
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-LightItalic.woff);
  font-style: italic;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-RegularItalic.woff);
  font-style: italic;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-MediumItalic.woff);
  font-style: italic;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-BoldItalic.woff);
  font-style: italic;
  font-weight: 700;
  font-display:swap;
}
/* font family end */



body, p {
  font-family: var(--hk-body-font);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--hk-heading-font) !important;
}



/* same css start */
.hk-image-with-text-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: self-start;
}
.hk-image-with-text-column {
    width: 50%;
}
.hk-media, 
.hk-svg {
    display: flex;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.1px;
    width: 100%;
}
.hk-button {
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1298.7px;
    background: #72D3FF;
    text-decoration: none;
    width: 550px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: #162036;
    font-size: 20.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.208px;
    text-transform: capitalize;
    border: 2px solid #72D3FF;
    gap: 10.4px;
}
.hk-button:hover {
    background: transparent;
    color: #72D3FF;
}
.hk-button:after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-btn-svg.webp");
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 550px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 13px;
    gap: 7.8px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 20.353px;
    height: unset;
}
.hk-global-rating .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.80);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 6.5px;
    padding-bottom: 16px;
}
.hk-global-rating .hk-icon-with-text-flex strong {
    color: #000;
    font-weight: 500;
}
.hk-global-rating .hk-icon-with-text-flex em {
    color: #000;
    font-style: normal;
    text-decoration-line: underline;
}
.hk-global-heading h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.8px;
}
.hk-center {
    width: fit-content;
    margin: 0px auto;
}
.hk-btn-black .hk-button:hover {
    color: #000;
    border-color: #000;
}
.hk-MBG-white .hk-icon-with-text-flex {
    color: #162036;
}
.relative {
    position: relative;
}
.hk-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    position: absolute;
    top: 46%;
}
.hk-slider-next {
    right: -34px;
}
.hk-slider-prev {
    left: -34px;
}
.slick-disabled {
    opacity: 0.25;
}
.hk-scroll-bar-img img {
    width: 195px;
    height: unset;
    margin: 0px 5px;
}



@media (max-width: 915px) {
.hk-image-with-text-column {
    width: 100%;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 46px;
    font-style: normal;
    letter-spacing: -1.38px;
    width: 270px;
    text-align: center;
    margin: 0px auto;
}
.hk-center {
    width: 100%;
    margin: 0px auto;
}
.hk-button {
    cursor: pointer;
    width: calc(100% - 30px);
    min-height: 55px;
    font-size: 16px;
    letter-spacing: -0.16px;
    gap: 9px;
    margin: 0px auto;
}
.hk-button:after {
    width: 18px;
    height: 18px;
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    gap: 5.5px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 15.656px;
}
.hk-global-heading h2 {
    font-size: 40px;
    letter-spacing: -1.2px;
    width: 328px;
    max-width: 100%;
}
.hk-global-rating .hk-icon-with-text-flex {
    justify-content: unset;
    font-size: 12px;
    gap: 5px;
    padding-bottom: 12px;
}
.hk-global-rating .hk-icon-with-text-flex svg {
    width: 79px;
    height: unset;
}
}
/* same css end */



/* header css start */
.hk-header-top-text1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.hk-header-top-text1 strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-header-top {
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
}



@media (max-width: 915px) {
.hk-header-top-text1 {
    font-size: 13px;
}
}
/* header css end */



/* footer css start */



@media (max-width: 915px) {

}
/* footer css end */



/* zoom */
@media (max-width: 1600px) and (min-width: 1400px) {
body {
    zoom: 90%;
}
}
 
 
@media (max-width: 1400px) and (min-width: 1100px) {
body {
    zoom: 80%;
}
}
 
 
@media (max-width: 1100px) and (min-width: 915px) {
body {
    zoom: 65%;
}
}