/* start common css */
body {
    display: block;
}
@media (max-width:915px) {
  .hk-hide-mobile {
    display:none !important;
  }
}
@media (min-width:915px) {
  .hk-hide-desktop {
    display:none !important;
  }
}
.hk-slider-main:not(.slick-initialized) {
  display:flex;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
.hk-text-left-desktop {
    text-align: left;
    justify-content: left;
}
.hk-text-center-desktop {
    text-align: center;
    justify-content: center;
}
.hk-text-right-desktop {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
    height: auto;
}

.hk-no_buttons .slick-arrow {
    display: none !important;
}

.hk-same-height-slider .slick-slide {
    height: inherit !important;
}
.hk-same-height-slider .slick-track {
    display: flex;
}
.hk-loading:after {
    content: "";
    width: 100% !important;
    height: 100% !important;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 ) !important;
    background-size: 25px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
    display: block !important;
}
.hk-loading {
    color: transparent !important;
    position: relative !important;
}
.hk-checkout-button.hk-loading *, 
.hk-atc-js.hk-loading * {
    opacity: 0;
}


.hk-loading-cart:after {
    content: "";
    width: 100% !important;
    height: 100% !important;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 ) !important;
    background-size: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
    background-color: #0000003b !important;
    display: block !important;
}
.hk-loading-cart {
    position: relative;
}
svg, img, video {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
.hk-video-wrapper.active img, 
.hk-video-wrapper.active .hk-play-button {
    display: none;
}
.hk-relative {
    position: relative;
}
.hk-container {
    max-width:100%;
    width:var(--hk-container-width);
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}

body, .hk-font-body  {
  font-family:var(--hk-body-font);
}
.hk-font-heading{
  font-family: var(--hk-heading-font);
}

.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
img {
    height; unset;
}

.hk-checkout-button:has(.hk-sold-out.hk-active) {
    pointer-events: none;
    opacity: .7;
}

@media (max-width:915px) {
.hk-text-left-mobile {
    text-align: left;
    justify-content: left;
}
.hk-text-center-mobile {
    text-align: center;
    justify-content: center;
}
.hk-text-right-mobilep {
    text-align: right;
    justify-content: right;
}
.hk-container {
    padding-left:16px;
    padding-right:16px;
}
}
/* end common css */



/* font family start */
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-LightItalic.woff);
  font-style: italic;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-RegularItalic.woff);
  font-style: italic;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/Aeonik-MediumItalic.woff);
  font-style: italic;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display:swap;
}
@font-face {
  font-family: "Aeonik";
  src: url(https://cdn.shopify.com/s/files/1/0907/4953/4535/files/AeonikTRIAL-BoldItalic.woff);
  font-style: italic;
  font-weight: 700;
  font-display:swap;
}
/* font family end */



body, p {
  font-family: var(--hk-body-font);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--hk-heading-font) !important;
}



/* same css start */
.hk-image-with-text-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: self-start;
}
.hk-image-with-text-column {
    width: 50%;
}
.hk-media, 
.hk-svg {
    display: flex;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.1px;
    width: 100%;
}
.hk-button {
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1298.7px;
    background: #72D3FF;
    text-decoration: none;
    width: 550px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: #162036;
    font-size: 20.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.208px;
    text-transform: capitalize;
    border: 2px solid #72D3FF;
    gap: 10.4px;
}
.hk-button:hover {
    background: transparent;
    color: #72D3FF;
}
.hk-button:after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-btn-svg.webp");
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 550px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 13px;
    gap: 7.8px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 20.353px;
    height: unset;
}
.hk-global-rating .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.80);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 6.5px;
    padding-bottom: 16px;
}
.hk-global-rating .hk-icon-with-text-flex strong {
    color: #000;
    font-weight: 500;
}
.hk-global-rating .hk-icon-with-text-flex em {
    color: #000;
    font-style: normal;
    text-decoration-line: underline;
}
.hk-global-heading h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.8px;
}
.hk-center {
    width: fit-content;
    margin: 0px auto;
}
.hk-btn-black .hk-button:hover {
    color: #000;
    border-color: #000;
}
.hk-MBG-white .hk-icon-with-text-flex {
    color: #162036;
}
.relative {
    position: relative;
}
.hk-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    position: absolute;
    top: 46%;
}
.hk-slider-next {
    right: -34px;
}
.hk-slider-prev {
    left: -34px;
}
.slick-disabled {
    opacity: 0.25;
}
.hk-scroll-bar-img img {
    width: 195px;
    height: unset;
    margin: 0px 5px;
}
ul.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
    padding-top: 30px;
}
ul.slick-dots li {
    width: 100%;
    font-size: 0px;
}
ul.slick-dots li button {
    width: 100%;
    font-size: 0px;
    padding: 0px !important;
    background: #000;
    height: 2.6px;
    border: none;
    cursor: pointer;
}
ul.slick-dots li.slick-active~li button {
    background: #00000040;
}
.hk-slider-dot-white ul.slick-dots li.slick-active~li button {
    background: #FFFFFF40;
}
.hk-slider-dot-white ul.slick-dots li button {
    background: #fff;
}



@media (max-width: 915px) {
.hk-image-with-text-column {
    width: 100%;
}
.hk-global-heading h1 {
    max-width: 100%;
    font-size: 46px;
    font-style: normal;
    letter-spacing: -1.38px;
    width: 270px;
    text-align: center;
    margin: 0px auto;
}
.hk-center {
    width: 100%;
    margin: 0px auto;
}
.hk-button {
    cursor: pointer;
    width: calc(100% - 30px);
    min-height: 55px;
    font-size: 16px;
    letter-spacing: -0.16px;
    gap: 9px;
    margin: 0px auto;
}
.hk-button:after {
    width: 18px;
    height: 18px;
}
.hk-global-MBG .hk-icon-with-text-flex {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    gap: 5.5px;
}
.hk-global-MBG .hk-icon-with-text-flex img {
    width: 15.656px;
}
.hk-global-heading h2 {
    font-size: 40px;
    letter-spacing: -1.2px;
    width: 328px;
    max-width: 100%;
}
.hk-global-rating .hk-icon-with-text-flex {
    justify-content: unset;
    font-size: 12px;
    gap: 5px;
    padding-bottom: 12px;
}
.hk-global-rating .hk-icon-with-text-flex svg {
    width: 79px;
    height: unset;
}
ul.slick-dots {
    width: 199px;
    padding-top: 25px;
}
ul.slick-dots li button {
    height: 2px;
}
.hk-heading-center h2 {
    margin: 0px auto;
}
}
/* same css end */



/* header css start */
.hk-header-top-text1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.hk-header-top-text1 strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-header-top {
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
}



@media (max-width: 915px) {
.hk-header-top-text1 {
    font-size: 13px;
}
}
/* header css end */



/* footer css start */
.hk-footer .hk-richtext-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    padding: 92px 50px 85px;
    position: relative;
    overflow: hidden;
}
.hk-footer-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 100%;
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
    padding: 9px 0px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.hk-footer-top strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-footer-img img {
    width: 630px;
    height: unset;
    position: absolute;
    bottom: 0px;
    right: 50px;
}
.hk-footer .hk-richtext-content {
    display: flex;
    flex-wrap: wrap;
}
.hk-footer-text1, 
.hk-footer-submit {
    width: 50%;
    margin-bottom: 50px;
}
.hk-footer-text1 p {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.hk-footer-text1 p strong {
    font-family: "Bebas Neue";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.56px;
}
.hk-footer-submit {
    min-height: 91px;
}
button#Subscribe {
    background: transparent;
    border: unset;
    width: unset;
    min-height: unset;
    position: absolute;
    top: 20px;
    right: 0px;
}
button#Subscribe:after {
    display: none;
}
.field_lp {
    width: 91%;
    margin-left: auto;
    position: relative;
}
.hk-footer-submit {
    min-height: 83px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}
.hk-footer-submit .hk-element-liquid {
    width: 100%;
}
.field_lp input {
    color: #fff;
    font-family: Aeonik;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.7px;
    letter-spacing: -0.39px;
    width: 100%;
    background: transparent;
    border: unset;
    outline: none;
    height: 70px;
    border-bottom: 1px solid #FFFFFF;
}
.field_lp input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}
.hk-footer-logo, .hk-footer-text2 {
    width: 50%;
}
.hk-footer-logo img {
    width: 109px;
}
.hk-footer-text2 {
    min-height: 67px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hk-footer-text2 p {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.156px;
    padding: 5px 12px;
    border-radius: 2.6px;
    background: rgba(255, 255, 255, 0.05);
}
.hk-footer-text2 p strong {
    color: #72D3FF;
    font-weight: 700;
}
.hk-footer-text3 {
    margin: 30px 0px 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF26;
    width: 100%;
}
.hk-footer-brand {
    width: 100%;
    margin: 50px 0px 19px;
}
.hk-footer-brand img {
    width: 352px;
}
.hk-footer-copyright {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
}
.hk-footer-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 160px;
}
.hk-footer-menu ul li a {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
}
.hk-footer-text3 {
    font-size: 17.55px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}



@media (min-width: 915px) {
.hk-footer .hk-richtext-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-footer-bg.webp");
}
}



@media (max-width: 915px) {
.hk-footer .hk-richtext-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-footer-bgmob.webp");
}
.hk-footer-top {
    padding: 7px 0;
    font-size: 13px;
}
.hk-footer .hk-richtext-content {
    border-radius: 13px;
    padding: 55px 15px 0px;
}
.hk-footer-text1, 
.hk-footer-submit {
    width: 100%;
    margin-bottom: 10px;
}
.hk-footer-text1 p strong {
    font-size: 40px;
    letter-spacing: -1.2px;
}
.hk-footer-text1 p {
    font-size: 14px;
    gap: 10px;
    width: 290px;
    max-width: 100%;
}
.hk-footer-submit {
    min-height: unset;
    margin-bottom: 40px;
}
.field_lp input {
    font-size: 15px;
    letter-spacing: -0.3px;
    width: 100%;
    height: 61px;
}
.field_lp {
    width: 100%;
}
button#Subscribe svg {
    width: 23px;
    height: unset;
}
button#Subscribe {
    top: 18px;
}
.hk-footer-logo img {
    width: 82px;
}
.hk-footer-logo {
    width: 82px;
}
.hk-footer-text2 {
    min-height: 50px;
    align-items: center;
    width: calc(100% - 82px);
}
.hk-footer-text2 p {
    font-size: 12px;
    letter-spacing: -0.12px;
    padding: 4.5px 10px;
}
.hk-footer-text3 {
    margin: 25px 0 25px;
    padding-bottom: 25px;
    font-size: 13.5px;
}
.hk-footer-menu ul {
    gap: 16px;
    padding-right: 0px;
}
.hk-footer-menu {
    width: 100%;
}
.hk-footer-menu1 {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #FFFFFF26;
}
.hk-footer-menu ul li a {
    font-size: 14px;
}
.hk-footer-img img {
    position: unset;
    right: 50px;
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    margin-left: -16px;
}
.hk-footer-brand {
    margin: 40px 0 15px;
}
.hk-footer-brand img {
    width: 271px;
}
.hk-footer-copyright {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 39px;
}
}
/* footer css end */



/* zoom */
@media (max-width: 1600px) and (min-width: 1400px) {
body {
    zoom: 90%;
}
}
 
 
@media (max-width: 1400px) and (min-width: 1100px) {
body {
    zoom: 80%;
}
}
 
 
@media (max-width: 1100px) and (min-width: 915px) {
body {
    zoom: 65%;
}
}






/* header css*/


/* header section css start */
.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.hk-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hk-header-logo {
    width: 71.5px;
    max-width: 100%;
}
.hk-header-logo img {
    width: 100%;
    height: auto;
}
.hk-mobile-menu-button, 
.hk-cart-button {
    background: transparent;
    padding: 0;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.hk-element-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    max-width: 100%;
    height: 100%;
    z-index: 11;
    transition: all .5s ease;
}
.hk-drawer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    cursor: pointer;
    z-index: 10;
}
.hk-drawer-menu {
    padding-right: 20px;
}
.hk-drawer-menu-inner {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 100%;
    color: #1c1c1c;
    height: 100%;
    padding: 30px 30px;
}
button.hk-mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.hk-drawer-menu-content {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.hk-drawer-menu-content .hk-element-menu-main {
    flex: 1;
}
.hk-drawer-menu-content a {
    width: 100%;
    display: block;
    text-decoration: unset;
    font-size: 18px;
    padding: 12px 0;
}
.hk-drawer-menu {
    left: -100%;
}
.hk-drawer-menu.active {
    left: 0;
}
.hk-header, 
.hk-annoucement-bar {
    position: relative;
    z-index: 1;
}
.hk-header {
    transition: all .3s ease;
}   


/* desktop css */
@media (min-width:915px) {
}



/* mobile css */
@media (max-width:915px) {
.hk-drawer-menu-content a {
    font-size: 15px;
    padding: 8px 0;
}
.hk-drawer-menu-inner {
    padding: 30px 20px;
}
.hk-element-annoucement-main {
    gap: 12px;
    font-size: 14px;
    letter-spacing: -0.28px;
    justify-content: center;
}
span.hk-countdown-js {
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
span.hk-countdown-js>span {
    padding: 5px 5px 3px;
}
.hk-header-logo {
    width: 55px;
    max-width: 100%;
}
.hk-header-content svg {
    height: 15px;
    width: auto;
}
}
/* header section css end */








/* cart css */


/* cart drawer css */

/* cart css start */


/* empty cart css */
.hk-empty-cart-button {
    display: inline-block;
    padding-top: 30px;
}
.hk-empty-cart-title {
    padding-top: 30px;
}
@media (max-width:915px) {
.hk-empty-cart-button {
    display: block;
    padding-top: 20px;
}
.hk-empty-cart-title {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
}
}



/* leak protection css start */
.hk-shipping-protection-toggle {
    height: 35px;
    width: 80px;
    margin-left: auto;
}
.hk-shipping-protection-toggle-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 89.355px;
    border: 1px solid #CAAD58;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}
.hk-shipping-protection-toggle-button {
    width: 29px;
    height: 29px;
    border-radius: 100%;
    background: #CAAD58;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
    position: absolute;
    left: 3px;
    top: 2px;
}
.hk-shipping-protection-toggle-wrapper.active {
    background: #CAAD58;
}
.hk-shipping-protection-toggle-wrapper.active .hk-shipping-protection-toggle-button {
    background: #fff;
    left: calc(100% - 32px);
}
/* leak protection css end */




.hk-line-item-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.hk-line-item-left {
    display: flex;
    gap: 15px;
}
.hk-line-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.hk-line-item-image img {
    width: 102.6px;
    min-width: 102.6px;
}
.hk-related-product-card-flex {
    display: flex;
    gap: 16px;
}
.hk-related-product-card-left img {
    width: 125px;
    min-width: 125px;
}
.hk-product-price-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hk-product-bottom-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.hk-product-bottom-flex .hk-button {
    height: 52px;
    width: 299px;
    font-size: 18.2px;
    background: #CAAD58;
    border: 2px solid #CAAD58;
}
.hk-related-product-card-right {
    flex: 1;
}
.hk-element-shipping-protection-main {
    display: flex;
    padding: 20px;
    padding-left: 118px;
    border: 1px solid #CAAD58;
    background: #FFF;
    position: relative;
    justify-content: space-between;
    gap: 38px;
}
.hk-shipping-protection-flex img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 117px;
}
.hk-shipping-protection-left .hk-element-title {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: -0.364px;
}
.hk-shipping-protection-left .hk-element-text {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.312px;
    opacity: .6;
    padding-top: 7.8px;
}
.hk-cart-under-cta-icons .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    gap: 7.8px;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.312px;
    text-transform: capitalize;
}
.hk-cart-under-cta-icons img {
    height: 15.6px;
    width: auto;
}
.hk-cart-under-cta-icons .hk-element-icon-with-text-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20.8px;
    padding-top: 25px;
}
.hk-cart-drawer-column {
    width: 100%;
}
.hk-cart-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: #fff;
    padding: 20px 25px 15.977px 25px;
    width: 487px;
    max-width: 100%;
    margin-left: auto;
    right: -100%;
    transition: all .5s ease;
}
.hk-drawer-cart-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.hk-cart-drawer.active {
    right: 0;
}
.hk-cart-drawer .hk-cart-heading .hk-element-heading {
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.39px;
    text-transform: capitalize;
}

body.hk-overflow-hidden {
    overflow: hidden;
}
.hk-cart-drawer-content {
    height: 100%;
}
.hk-cart-drawer-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hk-cart-drawer-column1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.hk-cart-drawer-column1 {
    padding: 20px 25px;
    overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;

  /* IE & Edge (legacy) */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge */
.hk-cart-drawer-column1::-webkit-scrollbar {
  display: none;
}
.hk-mobile-cart-close {
    background: transparent;
    border: unset;
    box-shadow: unset;
    padding: 0;
    position: absolute;
    top: 27px;
    right: 25px;
    cursor:pointer;
}
.hk-cart-drawer-column2 {
    padding: 20px 25px 15.977px 25px;
    background: #F7F7F7;
}
.hk-cart-drawer {
    padding: 0;
}
.hk-cart-drawer-content.empty-cart-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.hk-empty-cart-button {
    width: 100%;
}
.hk-empty-cart-title .hk-button {
    max-width: 100%;
    width: 100%;
}
.hk-empty-cart-title {
    max-width: 100%;
    padding: 0;
    width: 100%;
}

body .hk-cart-drawer .hk-cart-heading .hk-element-heading {
    padding-bottom: 19.5px;
}
body .elfree-ship-bar {
    background: rgba(199, 31, 53, 0.15);
    margin-bottom: 25px;
}
body .elfree-ship-filled-bar {
    background: #C71F35;
    padding: 5px 10.4px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.312px;
    gap: 7.8px;
}
body .elfree-ship-filled-bar svg {
    width: 18.2px;
    height: unset;
    min-width: 18.2px;
}
body .hk-line-item-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
body .elfree-ship-filled-bar p {
    white-space: nowrap;
}
body .hk-line-item-right {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
body .hk-line-item-left {
    display: flex;
    gap: 16px;
    width: calc(100% - 150px);
}
body .hk-line-item-image {
    width: 97px;
    min-width: 97px;
}
body .hk-line-item-image img {
    width: 100%;
    min-width: unset;
}
body .hk-line-item-details {
    width: calc(100% - 113px);
    justify-content: flex-start;
}
body .hk-item-rating {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 7.8px;
    color: #1C1C1C;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.312px;
}
body .hk-item-rating strong {
    font-weight: 500;
}
body .hk-line-item-details .hk-item-title {
    color: #1C1C1C;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.364px;
    text-transform: capitalize;
    padding: 13.15px 0px;
}
body .hk-free-badge {
    background: #C71F35;
    color: #FFF;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.312px;
    width: 71px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5px;
}
body .hk-quantity-main {
    border-radius: 3.9px;
    border: 1px solid #E6E6E6;
    height: 29px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9px;
}
body .hk-quantity-main input {
    width: 30px;
    text-align: center;
    outline: none;
    border: none;
    color: #161616;
    font-family: "Hanken Grotesk";
    font-size: 14.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
body .hk-quantity-main button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    width: unset;
    height: unset;
}
body .hk-quantity-main button svg path {
    fill: #161616;
}
body .hk-line-item-right .hk-item-price {
    color: #C71F35;
    font-family: "Hanken Grotesk";
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.364px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5.2px;
    padding-bottom: 15.7px;
}
body .hk-line-item-right .hk-item-price s {
    color: rgba(28, 28, 28, 0.60);
}
body .hk-line-item-right .hk-product-stock-text p {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.312px;
    width: fit-content;
    margin: 0 auto 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(137, 221, 99, 0.10);
    color: #425F02;
    padding: 4px 5px;
}
body .hk-line-item-right .hk-product-stock-text p strong:after {
    top: 6.9px;
}
body .hk-cart-related-heading h2 {
    color: #1C1C1C;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.39px;
    border-top: 1px solid #1C1C1C26;
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 20px;
}
.hk-cart-retaled-products-main .hk-related-grid-item {
    padding-right: 20px;
}
.hk-cart-retaled-products-main .hk-related-product-card-flex {
    gap: 13px;
}
body .hk-cart-retaled-products-main .hk-product-rating {
    display: none;
}
body .hk-cart-retaled-products-main  .hk-related-product-card-left {
    width: 156px;
    min-width: 156px;
}
body .hk-cart-retaled-products-main  .hk-related-product-card-right {
    width: calc(100% - 169px);
}
body .hk-cart-retaled-products-main .hk-product-title {
    color: #1C1C1C;
    font-family: "Hanken Grotesk";
    font-size: 18.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.364px;
    text-transform: capitalize;
    padding-bottom: 7.8px;
}
body .hk-cart-retaled-products-main .hk-related-product-card-left img {
    width: 100%;
    min-width: unset;
}
body .hk-product-price-flex .hk-product-price {
    display: flex;
    gap: 5.2px;
    color: #C71F35;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.312px;
    text-transform: capitalize;
    padding-bottom: 7.8px;
}
body .hk-product-price-flex .hk-product-price s {
    color: rgba(28, 28, 28, 0.60);
}
body .hk-product-price-flex .hk-product-price-badge {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.26px;
    background: #C71F35;
    padding: 2.5px 5px;
}
body .hk-product-bottom-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
body .hk-product-bottom-flex .hk-product-inspired-by {
    display: flex;
    flex-direction: column;
    color: rgba(28, 28, 28, 0.60);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.312px;
    text-transform: capitalize;
    gap: 3.9px;
}
body .hk-product-bottom-flex .hk-product-inspired-by strong {
    color: #1C1C1C;
    font-weight: unset;
}
.hk-cart-retaled-products-main .hk-product-bottom-flex button.hk-button {
    background: #CAAD58;
    color: #FFF;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 18.2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.364px;
    border: 2px solid #CAAD58;
    height: 41px;
}
.hk-cart-retaled-products-main .hk-product-bottom-flex button.hk-button:hover {
    background: transparent;
    color: #b37829;
}
.hk-button {
    cursor: pointer;
}
.hk-cart-retaled-products-main .slick-list.draggable {
    padding-right: 55px;
    width: calc(100% + 25px);
}
.hk-cart-retaled-products-main .hk-related-product-card-flex {
    cursor: grab;
}
body .hk-element-shipping-protection-main {
    display: flex;
    padding: 16px 16px 14px 118px;
    border: 1px solid #CAAD58;
    background: #fff;
    position: relative;
    justify-content: space-between;
    gap: 7px;
}
body .hk-shipping-protection-flex img {
    width: 107.9px;
    height: unset;
}
body .hk-shipping-protection-left .hk-element-text {
    width: 90%;
}
body .hk-shipping-protection-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 18.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: -0.364px;
    text-align: right;
}
.hk-element-total-main .hk-element-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0px;
}
.hk-element-total-main .hk-element-total p {
    color: #1C1C1C;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.39px;
}
.hk-element-total-main .hk-element-total .hk-cart-price {
    display: flex;
    gap: 14px;
    color: rgba(28, 28, 28, 0.60);
    text-align: right;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.364px;
}
.hk-element-total-main .hk-element-total .hk-cart-price s {
    color: #000000;
}
.hk-cart-drawer-column2 .hk-button {
    background: #1C1C1C;
    color: #FFF;
    font-family: "Hanken Grotesk";
    font-size: 20.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.416px;
    text-transform: uppercase;
    gap: 10.4px;
    height: 78px;
    border: 2px solid #1C1C1C;
}
.hk-cart-drawer-column2 .hk-button:hover {
    background: transparent;
    color: #000;
}
.hk-cart-drawer-column2 .hk-button:hover svg path, 
.hk-cart-drawer-column2 .hk-button:hover svg rect {
    fill: #000;
}
.hk-cart-payment-icons {
    padding-top: 20px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid {
    padding-top: 20.8px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid .hk-cart-under-cta-icon:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20.8px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid .hk-cart-under-cta-icon:nth-child(1):after {
    content: "|";
    color: #00000030;
}
body .hk-product-price-flex .hk-product-price {
    padding-bottom: 0px;
}
body .hk-product-bottom-flex {
    padding-top: 7.8px;
}

body .hk-quantity-main button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hk-cart-button {
    position: relative;
}
.hk-cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    font-size: 10px;
    border-radius: 100%;
    line-height: normal;
    position: absolute;
    bottom: calc(100% - 10px);
    left: calc(100% - 10px);
}
@media (max-width: 915px) {
.hk-cart-drawer-column1 {
    padding: 15px 16px;
}
.hk-cart-drawer .hk-cart-heading .hk-element-heading {
    font-size: 15px;
    letter-spacing: -0.3px;
}
body .hk-cart-drawer .hk-cart-heading .hk-element-heading {
    padding-bottom: 15px;
}
.hk-mobile-cart-close {
    top: 18px;
    right: 15px;
}
body .elfree-ship-filled-bar {
    padding: 4px 8px;
    font-size: 12px;
    letter-spacing: -0.24px;
    gap: 6px;
}
body .elfree-ship-filled-bar svg {
    width: 14px;
    height: unset;
    min-width: 14px;
}
body .hk-line-item-image {
    width: 75px;
    min-width: 75px;
}
body .hk-line-item-left {
    gap: 12px;
    width: calc(100% - 100px);
}
body .hk-line-item-details {
    width: calc(100% - 87px);
}
body .hk-item-rating {
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
body .hk-item-rating svg {
    width: 70px;
    height: unset;
}
body .hk-line-item-details .hk-item-title {
    font-size: 14px;
    letter-spacing: -0.28px;
    padding: 10.5px 0;
}
body .hk-free-badge {
    font-size: 12px;
    letter-spacing: -0.24px;
    width: 55px;
    height: 23px;
    gap: 5px;
}
body .hk-free-badge svg {
    width: 10px;
    height: unset;
}
body .hk-quantity-main {
    border-radius: 3px;
    height: 23px;
    width: 95px;
    padding: 0 7.5px;
}
body .hk-quantity-main input {
    width: 21px;
    font-size: 11px;
}
body .hk-quantity-main button svg {
    width: 9px;
    height: unset;
}
body .hk-line-item-right .hk-item-price {
    font-size: 14px;
    letter-spacing: -0.28px;
    gap: 4px;
    padding-bottom: 11px;
}
.hk-product-stock-text p strong {
    gap: 5px;
}
body .hk-line-item-right .hk-product-stock-text p {
    font-size: 12px;
    letter-spacing: -0.24px;
    gap: 5px;
    padding: 2.5px 7px;
}
body .hk-line-item-right .hk-product-stock-text p strong:after {
    top: 5px;
}
body .hk-line-item-grid {
    gap: 20px;
}
.hk-cart-drawer-column2 {
    padding: 13px 16px;
}
body .hk-element-shipping-protection-main {
    padding: 12px 12px 12px 91px;
    gap: 7px;
}
.hk-shipping-protection-left .hk-element-title {
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.hk-shipping-protection-left .hk-element-text {
    font-size: 12px;
    letter-spacing: -0.24px;
    padding-top: 6px;
}
body .hk-shipping-protection-flex img {
    width: 83px;
}
body .hk-shipping-protection-right {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.hk-shipping-protection-toggle {
    height: 27px;
    width: 61px;
}
.hk-shipping-protection-toggle-button {
    width: 21px;
    height: 21px;
    left: 2.7px;
    top: 2px;
}
.hk-shipping-protection-toggle-wrapper.active .hk-shipping-protection-toggle-button {
    left: calc(100% - 23px);
}
.hk-element-total-main .hk-element-total {
    padding: 15px 0;
}
.hk-element-total-main .hk-element-total p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
.hk-element-total-main .hk-element-total .hk-cart-price {
    gap: 11px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.hk-cart-drawer-column2 .hk-button {
    font-size: 16px;
    letter-spacing: -0.32px;
    gap: 8px;
    height: 60px;
}
.hk-cart-drawer-column2 .hk-button svg {
    width: 18.24px;
    height: 18.24px;
}
.hk-cart-payment-icons {
    padding-top: 16px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid {
    padding-top: 16px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid .hk-cart-under-cta-icon:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 16px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 25px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-icon-with-text-flex {
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
.hk-cart-drawer-column2 .hk-cart-under-cta-icons .hk-element-icon-with-text-grid {
    padding-top: 16px;
}
body .hk-cart-related-heading h2 {
    font-size: 15px;
    letter-spacing: -0.3px;
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 16px;
}
.hk-cart-retaled-products-main .slick-list.draggable {
    padding-right: 32px;
    width: calc(100% + 16px);
}
body .hk-cart-retaled-products-main .hk-related-product-card-left {
    width: 120px;
    min-width: 120px;
}
.hk-cart-retaled-products-main .hk-related-product-card-flex {
    gap: 10px;
}
body .hk-cart-retaled-products-main .hk-related-product-card-right {
    width: calc(100% - 130px);
}
body .hk-cart-retaled-products-main .hk-product-title {
    font-size: 14px;
    letter-spacing: -0.28px;
    padding-bottom: 6px;
}
body .hk-product-price-flex .hk-product-price {
    gap: 4px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
body .hk-product-price-flex .hk-product-price-badge {
    font-size: 10px;
    letter-spacing: -0.2px;
    padding: 1.5px 4.5px;
}
body .hk-product-bottom-flex {
    padding-top: 6px;
}
body .hk-product-bottom-flex .hk-product-inspired-by {
    font-size: 12px;
    letter-spacing: -0.24px;
    gap: 3px;
}
body .hk-product-bottom-flex {
    gap: 10px;
}
.hk-cart-retaled-products-main .hk-product-bottom-flex button.hk-button {
    font-size: 14px;
    letter-spacing: -0.28px;
    height: 32px;
}
.hk-cart-drawer {
    max-width: calc(100% - 20px);
}
.hk-cart-count {
    bottom: calc(100% - 7px);
    left: calc(100% - 7px);
    width: 14px;
    height: 14px;
    font-size: 7px;
}
}



body .hk-quantity-main button {
    cursor: pointer;
}
/* cart css end */



/* cart css start */
.hk-under-checkout-icons .hk-element-icon-with-text-grid {
    display: flex;
    align-items: center;
    margin: 15.6px 0px;
    justify-content: center;
    gap: 19.5px;
}
.hk-under-checkout-icon img {
    height: 19px;
    width: auto;
}
.hk-under-checkout-icon2 img {
    height: 15.6px;
}
.hk-under-checkout-icon .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 8px;
}
.hk-under-checkout-icon1 {
    display: flex;
    align-items: center;
    gap: 19px;
}
.hk-under-checkout-icon1:after {
    content: "|";
    color: #00000030;
    font-size: 23px;
}
.hk-cart-payment img {
    width: 352px;
    margin: 0px auto;
}
.hk-cart-drawer-column2 {
    padding: 20px 25px;
}
.hk-element-total-main .hk-element-total {
    padding: 0px 0px 19px;
}
.hk-element-total-main .hk-element-total p {
    color: #1C1C1C;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: unset;
}
.hk-cart-drawer-column2 .hk-element-total-main .hk-element-total .hk-cart-price {
    display: flex;
    gap: 14px;
    color: #000000;
    text-align: right;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: unset;
}
.hk-cart-drawer-column2 .hk-button {
    color: #162036;
    font-family: 'Aeonik';
    font-size: 20.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: unset;
    text-transform: capitalize;
    gap: 10.4px;
    height: 70px;
    border: 2px solid #72D3FF;
    border-radius: 5.2px;
    background: #72D3FF;
}
.hk-cart-drawer-column2 .hk-button:after {
    width: 0px;
    height: 0px;
}
.hk-cart-drawer .hk-cart-heading .hk-element-heading {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: unset;
    text-transform: capitalize;
    font-family: Aeonik !important;
}
body .hk-cart-drawer .hk-cart-heading .hk-element-heading {
    padding-bottom: 15px;
}
body .elfree-ship-bar {
    background: unset;
    margin-bottom: 25px;
}
body .elfree-ship-filled-bar {
    background: unset;
    padding: 0px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 16.9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: unset;
    gap: 0px;
}
body .elfree-ship-filled-bar svg {
    display: none;
}
body .hk-line-item-left {
    display: flex;
    gap: 16px;
    width: 100%;
}
body .hk-line-item-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hk-line-item-flex {
    flex-wrap: wrap;
}
body .hk-line-item-image {
    width: 128px;
    min-width: 128px;
}
body .hk-line-item-image {
    width: 128px;
    min-width: 128px;
    border-radius: 2.6px;
    border: 1.3px solid #E6E6E6;
    background: #FFF;
}
body .hk-line-item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 20px;
    height: 123px;
}
body .hk-line-item-details {
    width: calc(100% - 144px);
}
/* cart css end */