/* section1 css start */
.hk-section1 .hk-image-with-text-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    padding: 50px;
}
.hk-section1 .hk-image-with-text-column1 {
    width: 59%;
}
.hk-section1 .hk-image-with-text-column2 {
    width: 41%;
}
.hk-section1 .hk-image-with-text-content {
    position: relative;
}
.hk-section1-img img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: unset;
    width: 49%;
}
.hk-section1-rating .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 6.5px;
    padding-bottom: 16px;
}
.hk-section1-rating .hk-icon-with-text-flex strong {
    font-weight: 500;
}
.hk-section1-list1 .hk-element-icon-with-text-grid {
    display: flex;
    align-items: center;
    margin: 20px 0px 40px;
    gap: 15px;
}
.hk-section1-list1-item .hk-icon-with-text-flex {
    display: flex;
    align-items: center;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 6.5px;
    border-radius: 85.412px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.7552239894866943px);
    padding: 7.5px 15px;
}
.hk-section1-brand img {
    width: 555px;
    margin-top: 40px;
}



@media (min-width: 915px) {
.hk-section1 .hk-image-with-text-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-section1-bg.webp");
}
}



@media (max-width: 915px) {
.hk-section1 .hk-image-with-text-content {
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-section1-bgmob.webp");
}
}
/* section1 css end */



/* reviews css start */
.hk-shops-pdt .hk-element-icon-with-text-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}
.hk-shops-pdt-item {
    width: calc(33.3% - (40px)*2/3);
    position: relative;
}
.hk-shops-pdt-item .hk-element-image .hk-media:nth-child(1) {
    border-radius: 6px;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    aspect-ratio: unset;
    min-height: 345px;
}
.hk-shops-pdt-item .hk-element-image .hk-media:nth-child(1) img {
    width: 200px;
    height: unset;
}
.hk-shops-pdt-item .hk-element-image {
    position: relative;
}
.hk-shops-pdt-item .hk-svg {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.312px;
    color: #fff;
    border-radius: 2.34px;
    background: #72D3FF;
    width: fit-content;
    position: absolute;
    top: 10.4px;
    left: 10.4px;
    padding: 8.25px 13px;
    gap: 3px;
}
.hk-shops-pdt-item .hk-svg strong {
    font-weight: 400;
}
.hk-shops-pdt-item .hk-element-title {
    color: #161616;
    font-family: Aeonik;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    margin: 15.6px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hk-shops-pdt-item .hk-element-title strong {
    font-size: 20.8px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.416px;
    text-transform: capitalize;
}
.hk-shops-pdt-item .hk-element-title em {
    font-style: normal;
}
.hk-shops-pdt-item .hk-element-text p:nth-child(1) {
    color: #161616;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.hk-shops-pdt-item .hk-element-text p:nth-child(1):after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/rating.svg");
    width: 91px;
    height: 18.2px;
}
.hk-shops-pdt-item .hk-element-text p:nth-child(2) {
    color: rgba(22, 22, 22, 0.60);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    margin-bottom: 20.8px;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* reviews css end */



/* textbar css start */
.hk-scroll-bar-text .hk-scroll-item-flex img {
    width: 20.8px;
    height: unset;
}
.hk-scroll-bar-text .hk-scroll-item-flex {
    display: flex;
    align-items: center;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 12.5px;
    gap: 6.5px;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* textbar css end */



/* video css start */
.hk-video-rating img {
    width: 87px;
}
.hk-video-rating .hk-icon-with-text-flex {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hk-video-rating .hk-icon-with-text-flex strong {
    font-weight: unset;
}
.hk-video-slider {
    margin: 40px -20px;
}
.hk-video-slide {
    padding: 0px 20px;
}
.hk-video-wrapper {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.hk-video-wrapper video, 
.hk-video-wrapper img {
    aspect-ratio: 322/480;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    cursor: pointer;
}
.hk-video-wrapper img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.hk-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}
.hk-play-button span {
    width: 45px;
    height: 45px;
    background: #72D3FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hk-play-button svg path {
    fill: #EBF2FF;
}
.hk-play-button span svg {
    width: 16px;
    height: unset;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* video css end */



/* textbar2 css start */
.hk-scroll-bar-text2 .hk-scroll-item-flex {
    display: flex;
    align-items: center;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.182px;
    text-transform: uppercase;
    gap: 10.4px;
    padding: 0px 25px;
}
.hk-scroll-bar-text2 .hk-scroll-item-flex img {
    width: 25px;
    height: unset;
}
.hk-scroll-bar-text2 {
    border-bottom: 1px solid #FFF;
    background: linear-gradient(90deg, #344569 0%, #5D87DF 100%);
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* textbar2 css end */



/* reviews css start */
.hk-global-white .hk-icon-with-text-flex {
    color: rgba(255, 255, 255, 0.80);
}
.hk-global-white .hk-icon-with-text-flex strong,
.hk-global-white .hk-icon-with-text-flex em {
    color: #fff;
}
.hk-global-white .hk-icon-with-text-flex em {
    font-weight: 400;
}
.hk-reviews-slider {
    margin: 40px -15px;
}
.hk-reviews-slide {
    padding: 0px 15px;
}
.hk-reviews-slider .hk-review-card_main {
    cursor: grab;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5.200000286102295px);
    padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hk-reviews-slider .slick-track {
    display: flex;
}
.hk-reviews-slider .slick-slide {
    height: inherit;
}
.hk-reviews-slider .slick-slide>div, 
.hk-reviews-slider .hk-reviews-slide, 
.hk-reviews-slider .hk-review-card_main {
    height: 100%;
}
.hk-reviews-slider .hk-review-card-rating {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-family: Aeonik;
    font-size: 16.9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 10.4px;
    margin-bottom: 19.5px;
}
.hk-reviews-slider .hk-review-card-title {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.4px;
}
.hk-reviews-slider .hk-review-card-rating strong {
    font-weight: 500;
    color: #fff;
}
.hk-reviews-slider .hk-review-card-text {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    padding-top: 6.5px;
    margin-bottom: 19.5px;
}
.hk-reviews-slider .hk-element-review-name {
    font-size: 16.9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 6.5px;
    margin-bottom: 19.5px;
}
.hk-reviews-slider .hk-element-review-name strong {
    color: #72D3FF;
    font-weight: 400;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* reviews css end */



/* imgbar1 css start */
.hk-scroll-bar-img img {
    width: 195px;
    height: unset;
    margin: 0px 5px;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* imgbar1 css end */



/* insides css start */
.hk-insides-text1 {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    padding-top: 8px;
}
.hk-insides-section .hk-image-with-text-column1 {
    width: 55.3%;
}
.hk-insides-section .hk-image-with-text-column2 {
    width: 44.7%;
}
.hk-insides-section .hk-image-with-text-flex {
    position: relative;
}
.hk-insides-list1 .hk-element-icon-with-text-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.hk-insides-list1-item-width {
    width: calc(50% - 12.5px);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5.200000286102295px);
    padding: 25px;
}

.hk-insides-list1-item-width img {
    width: 71.5px;
    height: unset;
    aspect-ratio: 1/1;
}
.hk-insides-list1-item-width .hk-element-text {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    padding-top: 7px;
}
.hk-insides-list1-item-width .hk-element-title {
    color: #72D3FF;
    font-family: "Bebas Neue";
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.95px;
    margin-top: -65px;
    padding-left: 90px;
}
.hk-insides-list1-item-width .hk-element-text strong {
    font-weight: 500;
}
.hk-insides-list1-item-width .hk-element-text {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    padding-top: 7px;
    width: 87%;
}
.hk-insides-list1-item-width:nth-child(1) .hk-element-text {
    width: 79%;
}
.hk-insides-list1 {
    position: relative;
    margin: 40px 0px;
}
.hk-insides-list1-item-img img {
    width: auto;
    height: 300px;
    position: absolute;
    top: 32px;
    left: 32%;
}
.hk-insides-list1-item-width:nth-child(4) {
    position: relative;
    z-index: 1;
}
.hk-insides-img img {
    position: absolute;
    right: -5%;
    top: 0px;
    width: 760px;
}
.slick-slide>div {
    display: flex;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* insides css end */



/* textbar3 css start */
.hk-scroll-bar-text3 {
    border: 0.65px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.6000001430511475px);
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* textbar3 css end */



/* looks css start */
.hk-looks-text1 {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin: 9px 0px 40px;
}
.hk-looks-img img {
    width: calc(100% - 20px);
}
.hk-looks-list1 .hk-element-icon-with-text-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
    gap: 40px;
}
.hk-looks-list1-item {
    width: calc(25% - (40px)*3/4);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.6000001430511475px);
    padding: 20.8px;
    text-align: left;
}
.hk-looks-list1-item .hk-media.hk-svg {
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5.2px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.6000001430511475px);
    width: fit-content;
    padding: 3.9px 10px;
    margin-bottom: 10.4px;
}
.hk-looks-list1-item .hk-element-title {
    color: #72D3FF;
    font-family: Aeonik;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;
    padding-bottom: 5.2px;
}
.hk-looks-list1-item .hk-element-text {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    width: 78%;
}
.hk-looks-list1-item {
    position: relative;
}
.hk-looks-list1-item1 {
    top: -20px;
}
.hk-looks-list1-item2 {
    top: 20px;
}
.hk-looks-list1-item3 {
    top: -12px;
}
.hk-looks-list1-item4 {
    top: 20px;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* looks css end */



/* crash css start */
.hk-crash-list1 .hk-element-icon-with-text-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}
.hk-crash-list1-item {
    width: calc(25% - (30px)*3/4);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.6000001430511475px);
    text-align: left;
    padding: 25px;
    position: relative;
}
.hk-crash-list1-item .hk-element-title {
    color: #72D3FF;
    font-family: Aeonik;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    width: 69%;
}
.hk-crash-list1-item .hk-element-title {
    color: #72D3FF;
    font-family: Aeonik;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    width: 69%;
    margin: 10.4px 0px 5.2px;
}
.hk-crash-list1-item2 .hk-element-title {
    width: 55%;
}
.hk-crash-list1-item .hk-element-text {
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}
.hk-crash-list1-item4 img {
    position: absolute;
    top: -63px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 247px;
}
.hk-global-heading h2 strong {
    color: #72D3FF;
    font-weight: unset;
}
.hk-crash-section {
    padding-bottom: 55px;
}
.hk-crash-bottom {
    position: relative;
    z-index: 1;
}
.hk-crash-bottom .hk-container {
    width: 100%;
    padding: 0px;
}
.hk-crash-bottom-curve svg {
    width: 100%;
    max-width: 100%;
    height: unset;
    display: block;
    margin-top: -7%;
}
.hk-crash-bottom-curve svg path {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: unset;
    display: block;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* crash css end */



/* one css start */
.hk-one-text2 {
    color: rgba(0, 0, 0, 0.80);
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin: 30px 0px 40px;
}
.hk-one-section .hk-image-with-text-flex {
    align-items: center;
}
.hk-one-section .hk-image-with-text-flex .hk-image-with-text-column2 {
    width: 49%;
}
.one-table {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #FFF;
}
.one-table-item {
    width: 33.3%;
}
.one-table-top-p {
    color: #000;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    min-height: 43.5px;
    display: flex;
    align-items: center;
}
.one-table-item img {
    width: 70px;
    margin: 0px auto;
}
.one-table-bottom-p {
    color: #000;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.one-table-item ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #00000040;
    border-left: unset;
    border-right: unset;
    margin: 16px 0px 14px;
    gap: 19px;
    padding: 25px 0px;
}
.one-table-item ul li {
    min-height: 23px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
}
.one-table-item2 ul li {
    justify-content: center;
}
.one-table-item3 ul li {
    color: #EB0000;
    justify-content: center;
}
.one-table-item3 {
    text-align: center;
    width: 30%;
}
.one-table-item2 {
    text-align: center;
}
.one-table-item2 p {
    color: #218F0B;
}
.one-table-item3 .one-table-top-p {
    justify-content: center;
}
.one-table-item2 {
    width: 37%;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* one css end */



/* table css start */
.hk-table-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 0px;
    width: 100%;
}
.hk-table-box-item {
    width: calc(50% - 20PX);
    border-radius: 10px;
    padding: 34PX;
    max-width: 100%;
    position: relative;
}
.hk-table-box-item2 {
    background: #F7F7F7;
}
.hk-table-box-item1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.shopify.com/s/files/1/0907/4953/4535/files/HP-table-bg.webp");
    color: #FFFFFF;
}
.hk-table-box-item .hk-table-img {
    position: absolute;
    bottom: 0;
    right: 65px;
    width: 124px;
}
.hk-table-box-item2 .hk-table-img {
    width: 243px;
    right: unset;
    left: -10px;
}
.hk-table-box-item ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 360px;
    max-width: 100%;
}
.hk-table-box-item ul li img {
    width: 28.08px;
    height: unset;
}
.hk-table-box-item ul li {
    display: flex;
    align-items: center;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 8px;
}
.hk-table-box-item2 ul {
    justify-content: flex-end;
    margin-left: auto;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* table css end */



/* faq css start */
.hk-faq-section .hk-image-with-text-flex {
    gap: 30px;
}



@media (min-width: 915px) {

}



@media (max-width: 915px) {

}
/* faq css end */